.bg-inverse {
  background-color: #FFFFFF !important;
}

.nav {
  margin-top: 10px;
}


.axis path,
.axis line{
  fill: none;
  stroke:black;
  shape-rendering: crispEdge;
}

.axis text{
  font-family: sans-serif;
  font-size: 10px;
}

h1{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 700;
}

h4 {
  font-family: 'Montserrat';
}


.tick
{
  stroke-dasharray: 1, 2;
}

a {
  color: #333;
  text-decoration: none !important;
}

.tag {
    background: #377BB5;
    border-radius: 4px 4px 4px 4px;
    color: #FFF;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 10px 0 10px;
    position: relative;
    margin: 0 5px 5px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tags {
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
  float: left;
}

.sidebar {
  top: 0px;
}

ul li {
  display: list-item;
}

body {
  padding-top: 0px;
  font-family: 'San Francisco Display Regular';
}

th {
  font-family: 'Montserrat';
  font-size: 12px;
}

table td {
  font-size: 12px;
}

// @font-face {
//   font-family: "San Francisco Display Ultralight";
//   font-style: normal;
//   font-weight: 400;
//   src: url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.eot?#iefix) format("embedded-opentype"), url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2) format("woff2"), url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff) format("woff"), url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.svg#San Francisco Display Ultralight") format("svg")
// }
//
// @font-face {
//   font-family: "San Francisco Display Thin";
//   font-style: normal;
//   font-weight: 400;
//   src: url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.eot?#iefix) format("embedded-opentype"), url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2) format("woff2"), url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff) format("woff"), url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.svg#San Francisco Display Thin") format("svg")
// }

@font-face {
  font-family: "San Francisco Display Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sanfranciscodisplay-regular-webfont.woff");
}
//
// @font-face {
//   font-family: "San Francisco Display Medium";
//   font-style: normal;
//   font-weight: 400;
//   src: url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"), url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"), url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"), url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.svg#San Francisco Display Medium") format("svg")
// }
//
// @font-face {
//   font-family: "San Francisco Display Semibold";
//   font-style: normal;
//   font-weight: 400;
//   src: url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2) format("woff2"), url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff) format("woff"), url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.svg#San Francisco Display Semibold") format("svg")
// }
//
// @font-face {
//   font-family: "San Francisco Display Bold";
//   font-style: normal;
//   font-weight: 400;
//   src: url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.eot?#iefix) format("embedded-opentype"), url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2) format("woff2"), url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff) format("woff"), url(http://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.svg#San Francisco Display Bold") format("svg")
// }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #FAFBFD;
}
