.bg-inverse {
  background-color: #FFFFFF !important;
}

.nav {
  margin-top: 10px;
}


.axis path,
.axis line{
  fill: none;
  stroke:black;
  shape-rendering: crispEdge;
}

.axis text{
  font-family: sans-serif;
  font-size: 10px;
}

h1{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 700;
}

h4 {
  font-family: 'Montserrat';
}


.tick
{
  stroke-dasharray: 1, 2;
}

a {
  color: #333;
  text-decoration: none !important;
}

.tag {
    background: #377BB5;
    border-radius: 4px 4px 4px 4px;
    color: #FFF;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 10px 0 10px;
    position: relative;
    margin: 0 5px 5px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tags {
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
  float: left;
}

.sidebar {
  top: 0px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  vertical-align: bottom;
  margin-left: 0;
  border-bottom-left-radius: .25rem;
  border-top-left-radius: .25rem;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
  vertical-align: bottom;
  margin-left: 0;
  border-bottom-right-radius: .25rem;
  border-top-right-radius: .25rem;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  vertical-align: bottom;
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}

.pagination>li>a {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  float: left;
  padding: .5rem .75rem;
  margin-left: -1px;
  color: #0275d8;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination>li {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  float: left;
  margin-left: -1px;
  color: #0275d8;
  text-decoration: none;
  background-color: #fff;
}

body {
  font-family: 'San Francisco Display Regular';
}

th {
  font-family: 'Montserrat';
  font-size: .7rem;
}

table td {
  font-size: 12px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255, .9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px; }

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

@font-face {
  font-family: "San Francisco Display Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sanfranciscodisplay-regular-webfont.woff");
}

.box {
  margin-bottom: 30px;
  background-color: #fff;
  height: 100%;
  min-height: 270px;
  overflow: hidden;
  color: #373a3c;
  padding-top: 20px;
  font-size: 1rem;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  line-height: 1.5;
  border-radius: 4px;
  padding: 0;
  box-shadow: 0 10px 12px #888;
}

body {
  background-color: #F8F8F8;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #FAFBFD;
}

.table td, .table th {
    border-top: 0px;
}
