// My secondary styles
.page-header {
  padding: 0px;
}

.page-header > li:first-child {
  display: inline;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2rem;
  padding-right: 10px;
}
.page-header > li:nth-child(2) {
  display: inline;
  color: grey !important;
  font-size: 0.8em;
}

.keymetrics-item-title {
  font-size: .75rem;
  font-weight: 700;
  font-family: 'Montserrat';
}

.issues-num {
  color: #000;
  font-size: 84px;
  font-weight: 700;
  font-family: 'Montserrat';
}

.table {
  min-height: 600px;
  margin-bottom: 0px;
}

.input-sm, .form-control {
  font-size: .8rem;
  font-weight: lighter;
  font-family: sans-serif;
}

.closed {
  font-weight: 400;
  color: red;
}

.open {
  font-weight: 400;
  color: green;
}

.no-wrap {
  white-space: nowrap;
}

.text-muted {
  margin-top: 8px;
  text-align: left;
}

.img-fluid {
  padding-bottom: 18px;
  width: 100%;
}
