<h2>Issues</h2>SORT | FILTER
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th style="width: 10%;">Name</th>
        <th>Timestamp</th>
        <th style="width: 12%;">Customer Name</th>
        <th>Customer Email</th>
        <th>Description</th>
        <th>Status</th>
        <th style="width: 12%;">Employee Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>000</td>
        <td>Header Bug</td>
        <td>00:01:00</td>
        <td>Airbnb</td>
        <td>mary.george@airbnb.com</td>
        <td>Change-makers pathway to a better life globalization women and children challenges of our times combat malaria respond democracy human potential. Safeguards support human rights, civil society global leaders. </td>
        <td>Open</td>
        <td>Robert Engineer</td>
      </tr>
      <tr>
        <td>001</td>
        <td>Header Bug</td>
        <td>00:01:00</td>
        <td>Airbnb</td>
        <td>mary.george@airbnb.com</td>
        <td>Change-makers pathway to a better life globalization women and children challenges of our times combat malaria respond democracy human potential. Safeguards support human rights, civil society global leaders. </td>
        <td>Open</td>
        <td>Robert Engineer</td>
      </tr>
      <tr>
        <td>002</td>
        <td>Header Bug</td>
        <td>00:01:00</td>
        <td>Airbnb</td>
        <td>mary.george@airbnb.com</td>
        <td>Change-makers pathway to a better life globalization women and children challenges of our times combat malaria respond democracy human potential. Safeguards support human rights, civil society global leaders. </td>
        <td>Open</td>
        <td>Robert Engineer</td>
      </tr>
      <tr>
        <td>003</td>
        <td>Header Bug</td>
        <td>00:01:00</td>
        <td>Airbnb</td>
        <td>mary.george@airbnb.com</td>
        <td>Change-makers pathway to a better life globalization women and children challenges of our times combat malaria respond democracy human potential. Safeguards support human rights, civil society global leaders. </td>
        <td>Open</td>
        <td>Robert Engineer</td>
      </tr>
      <tr>
        <td>004</td>
        <td>Header Bug</td>
        <td>00:01:00</td>
        <td>Airbnb</td>
        <td>mary.george@airbnb.com</td>
        <td>Change-makers pathway to a better life globalization women and children challenges of our times combat malaria respond democracy human potential. Safeguards support human rights, civil society global leaders. </td>
        <td>Open</td>
        <td>Robert Engineer</td>
      </tr>
    </tbody>
  </table>
</div>
