<!--  Start Header -->
<ul class="page-header">
  <li>Issues</li>
  <li><a href="#/">Back to main</a></li>
</ul>
<!--  End Header -->

<!--  Start Data Table, with Pagination-->
<div class="box" style="padding: 0px;">
  <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
    <thead>
      <tr>
        <th colspan="8">
          <input st-search placeholder="Search issues..." class="input-sm form-control" type="search"/>
        </th>
      </tr>
      <tr>
        <th st-sort="id">ID</th>
        <th st-sort="name">NAME</th>
        <th st-sort="timestamp">TIMESTAMP</th>
        <th st-sort="customer">CUSTOMER</th>
        <th st-sort="customeremail" class="no-wrap">CUSTOMER EMAIL</th>
        <th st-sort="description">DESCRIPTION</th>
        <th st-sort="status">STATUS</th>
        <th st-sort="employees">EMPLOYEE</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in displayedCollection">
        <td>{{row.id}}</td>
        <td class="no-wrap">{{row.name}}</td>
        <td>{{row.timestamp}}</td>
        <td>{{row.customer}}</td>
        <td>{{row.customeremail}}</td>
        <td>{{row.description}}</td>
        <td ng-if="showStatus(row.status)" class="open">Open</td>
        <td ng-if="!showStatus(row.status)" class="closed">Closed</td>
        <td class="no-wrap">{{row.employee}}</td>
      </tr>
    </tbody>
    <tfoot>
    	<tr>
    		<td colspan="8" align="center">
        	<div st-items-by-page="5" st-pagination=""></div>
    		</td>
    	</tr>
  	</tfoot>
  </table>
</div>
<!--  End Table, with Pagination-->
