<!--  Start Header -->
<h2>Issues</h2>
<p>
  <a href="#/">Back to main</a>
</p>
<!--  End Header -->

<!--  Start Data Table, with Pagination-->
<div class="">
  <table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
      <th colspan="8"><input st-search="" class="form-control" placeholder="Search issues..." type="text"/></th>
    </tr>
    <tr>
      <th st-sort="id">ID</th>
      <th st-sort="name">NAME</th>
      <th st-sort="timestamp">TIMESTAMP</th>
      <th st-sort="customer">CUSTOMER</th>
      <th st-sort="customeremail" style="white-space: nowrap;">CUSTOMER EMAIL</th>
      <th st-sort="description">DESCRIPTION</th>
      <th st-sort="status">STATUS</th>
      <th st-sort="employees">EMPLOYEE</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rowCollection">
      <td>{{row.id}}</td>
      <td style="white-space: nowrap;">{{row.name}}</td>
      <td>{{row.timestamp}}</td>
      <td>{{row.customer}}</td>
      <td>{{row.customeremail}}</td>
      <td>{{row.description}}</td>
      <td ng-if="showStatus(row.status)" style="font-weight: 100; color: green;">Open</td>
      <td ng-if="!showStatus(row.status)" style="font-weight: 100; color: red;">Closed</td>
      <td style="white-space: nowrap;">{{row.employee}}</td>
      <td>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!--  End Table, with Pagination-->
