<h2>All Employees</h2>
<!-- <p>
  Employees (geospatial-map). Public sector cross-cultural vaccines reproductive rights amplify. Livelihoods; gender, Jane Jacobs inspire breakthroughs Rockefeller, Bill and Melinda Gates our ambitions civic engagement. Human potential engage network many voices change economic security.
<p> -->
  <div class="content">
    <img src="img/unsplash5.jpg" style="float; left;" width="80%" alt="" />

    <p>
      Public sector cross-cultural vaccines reproductive rights amplify. Livelihoods; gender, Jane Jacobs inspire breakthroughs Rockefeller, Bill and Melinda Gates our ambitions civic engagement. Human potential engage network many voices change economic security.
    <p>
    <p>
      <ul>
        <li>Location 1: 10 Employees</li>
        <li>Location 2: 12 Employees</li>
        <li>Location 3: 20 Employees</li>
        <li>Location 4: 15 Employees</li>
        <li>Location 5: 30 Employees</li>
      </ul>
    </p>
  </div>
<!--
<div class="" style="float: left; display: inline-block;">
  bird
  <img src="img/unsplash5.jpg" width="600px" alt="" />
</div>
<div class="" style="float: right; display: inline-block;">

</div> -->

<style>
.content {
    width: 100%;
    /*border: 4px solid red;*/
    padding: 0px;
    overflow: hidden;
}

.content img {
    margin-right: 15px;
    float: left;
}

ul li {
  list-style-type: none;
}
</style>
