<h2>Key Metrics</h2>
<!-- <div class="row">
  <div class="col-md-4">
    <p>
      Open Issues
    </p>
    <p>
      <img src="img/metrics-thumb3.png" width="100%" style="border-radius: 20px;" alt="" />
    </p>
  </div>
  <div class="col-md-4">
    <p>
      Paying Customers (line-chart)
    </p>
    <p>
      <img src="img/metrics-thumb3.png" width="100%" style="border-radius: 20px;" alt="" />
    </p>
  </div>
  <div class="col-md-4">
    <p>
      Reported Issues (bar-chart)
    </p>
    <p>
      <img src="img/metrics-thumb3.png" width="100%" style="border-radius: 20px;" alt="" />
    </p>
  </div>
</div> -->
<div class="row">
  <div class="col-md-12">
    <img src="img/portland-dash.png" width="100%" alt="" />
  </div>
</div>
<!-- <div ng-controller="SalesController">
  <p>
    <h1>Today's Sales Chart</h1>
    <div linear-chart chart-data="salesData"></div>
  </p>
</div> -->
