<!-- <h1>Dashboard</h1> -->

<div class="row placeholders">
  <div class="col-xs-6 col-sm-4 placeholder">
    <img src="img/unsplash1.jpg" width="250" height="250" style="padding: 18px;" class="img-fluid" alt="Generic placeholder thumbnail">
    <h4>Employees</h4>
    <p style="margin-top: 8px;">
      <span class="text-muted">Public sector cross-cultural vaccines reproductive rights amplify. Livelihoods; gender, Jane Jacobs inspire breakthroughs Rockefeller, Bill and Melinda Gates our ambitions civic engagement. Human potential engage network many voices change economic security. </span>
    </p>
  </div>
  <div class="col-xs-6 col-sm-4 placeholder">
    <img src="img/unsplash2.jpg" width="250" height="250" style="padding: 18px;" class="img-fluid" alt="Generic placeholder thumbnail">
    <h4>Key Metrics</h4>
    <p style="margin-top: 8px;">
      <span class="text-muted">Public sector cross-cultural vaccines reproductive rights amplify. Livelihoods; gender, Jane Jacobs inspire breakthroughs Rockefeller, Bill and Melinda Gates our ambitions civic engagement. Human potential engage network many voices change economic security. </span>
    </p>
  </div>
  <div class="col-xs-6 col-sm-4 placeholder">
    <img src="img/unsplash4.jpg" width="250" height="250" style="padding: 18px;" class="img-fluid" alt="Generic placeholder thumbnail">
    <h4>Data View</h4>
    <p style="margin-top: 8px;">
      <span class="text-muted">Public sector cross-cultural vaccines reproductive rights amplify. Livelihoods; gender, Jane Jacobs inspire breakthroughs Rockefeller, Bill and Melinda Gates our ambitions civic engagement. Human potential engage network many voices change economic security. </span>
    </p>
  </div>
</div>
<!-- <div class="row placeholders">
  <div class="col-xs-6 col-sm-6 placeholder">
    <img src="img/unsplash4.jpg" width="220" height="220" style="padding: 18px;" class="img-fluid" alt="Generic placeholder thumbnail">
    <h4>Data View</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-6 placeholder">
    <img src="img/unsplash3.jpg" width="220" height="220" style="padding: 18px;" class="img-fluid" alt="Generic placeholder thumbnail">
    <h4>Widget</h4>
    <span class="text-muted">Something else</span>
  </div>
</div> -->
