<ul style="padding: 0px;">
  <li style="display: inline; font-family: 'Montserrat';
    font-weight: 700; font-size: 2rem; padding-right: 10px;">Employees</li>
  <li style="display: inline;"><small><a href="#/" style="color: grey;">Back to main</a></small></li>
</ul>
<div class="container">
  <div class="row">
    <div class="col-md-12 box" style="overflow: hidden !important;">
      <!-- <div id="mapid"></div> -->
      <!-- <leaflet></leaflet> -->
      <leaflet  tiles="tiles" lf-center="center" scrollWheelZoom="false" markers="markers" height="574px" width="1100px"></leaflet>
    </div>
  </div>
</div>
